<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <link href="css/bootstrap.min.css" rel="stylesheet">


      <link rel="stylesheet" href="css/landingpage.css">


</head>

<body>


  <div class="form">

                <ul class="tab-group">

                  <li class="tab active"><a href="#signup">Sign Up</a></li>

                  <li class="tab"><a href="#login">Sign In</a></li>

                </ul>

      <div class="tab-content">

                    <div id="signup">


                                      <form action = "/" method="post">

                                              <div class="top-row">

                                                          <div class="field-wrap">
                                                                <input type="text" required  class = "form-control"/ placeholder = "First Name">
                                                          </div>

                                                          <div class="field-wrap">
                                                                <input type="text"required  placeholder = "last Name" class = "form-control" />
                                                          </div>

                                              </div>



                                              <div class="field-wrap">
                                                <input type = "email"     placeholder = "Email Address" class = "form-control"/>
                                              </div>

                                              <div class="field-wrap">

                                                <input type = "password" required autocomplete = "off" class = "form-control" placeholder = "Password"/>
                                              </div>

                                              <button type = "submit" class = "btn btn-primary" >let's begin</button>

                                              </form>



                    </div>



                          <div id="login">


                                          <form action="/" method="post">

                                            <div class = "field-wrap">

                                            <input type="email"required autocomplete="off" placeholder="Email Address" class = "form-control"/>
                                          </div>

                                          <div class="field-wrap">
                                                    <input type="email"required autocomplete="off" placeholder="Password" class = "form-control"/>
                                          </div>

                                          <p class = "reset"><a href="#" class = "anchor">reset password</a></p>

                                          <button class="btn btn-info"/>Sign  In</button>

                                          </form>

                          </div>

      </div><!-- tab-content -->

</div> <!-- /form -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/index.js"></script>

</body>
</html>
